.search-bar {
  margin-bottom: 20px;
}

.container {
  
  display: inline-block;
  text-align: center;
  margin: 10px;
  align-items: center;
    
}
.result-item {
  border: 2px solid #000;
  border-radius: 5vh;
  position: relative;
}


.circle {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.id {
  font-weight: bold;
  color: #ddd;
}
.first-name {
  font-weight: bold;
  margin-top: 10px;
}

.content img {

  width: 300px;
  height:auto;
  border-radius: 8vh;
  padding: 10px;
  object-fit:cover ;
}

.result-item .first_name {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
.avatar {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: pixelated;
}